.selectcontainer {
    display: flex;
    height:calc(100vh - 150px);
    min-height: 700px;
    
}

.title{
    width:100%;
    text-align: center;
    height:150px;
    line-height: 150px;
    color: white;
    font-size: 65px;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

/* SELECT LEFT */

.selectleft {
    height: 100%;
    flex: 1;
    padding-right: 40px;
}

.row {
    height: calc((100% / 3) - 15px);
    width: 90%;
    display: flex;
}

.card {
    border-radius: 20px;
    margin: 20px 0px 20px 60px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .3);
    overflow:hidden;
    cursor:pointer;
}

.cardimage{
    position:absolute;
    width:100%;
    transform: translate(0,-20%)
}

.cardtext {
    background-color:rgb(255, 255, 255,0.8);
    height: 65px;
    width: 100%;
    position:absolute;
    bottom:0;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    padding-top:10px;
}

.charactersurname {
    font-size: 15px;
    color: orange;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
}

.charactername {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}


/* FIN SELECT LEFT */

/* SELECT RIGHT */

.selectright {
    height: 100%;
    flex: 1;
    border:1px solid rgb(8, 8, 53);
}

.playernameinfo{
    display:block;
    font-size:40px;
    font-family:'Anton',sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    color:black;
    text-transform: uppercase;
}

.playernameinfostats{
    display:block;
    font-size:20px;
    font-family:'Lato',sans-serif;
    color:black;
}

.player1character{
    height:35%;
    margin-top:20px;
    margin-right:40px;
    border-bottom:2px solid white;
    padding-bottom:30px;
}

.player2character{
    margin-top:20px;
    margin-right:40px;
    height:35%;
    border-bottom:2px solid white;
    padding-bottom:30px;
}

.playerimageinfo{
    height:100%;
    float:left;
    padding-right: 20px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}

.containerplayerinfo {
    background-color:white;
    border-radius:25px;
    height: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.buttonbottomselect {
    margin-top: 20px;
    margin-right: 20px;
    font-family:'Lato',sans-serif;
    color: white;
    width: 175px;
    background-color: #1C86EE;
    box-shadow: 0px 3px 15px rgba(11, 149, 230, 0.3);
    border: none;
    padding: 15px;
    border-radius: 25px;
}

#play {
    background-color: rgb(28, 238, 98);
    box-shadow: 0px 3px 15px rgba(28, 238, 98, 0.3);
}

/*FIN SELECT RIGHT */