<div class="title">
  Select your character
</div>



<div class="selectcontainer">
  <div class="selectleft">
    <div class="row">
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
      <div class="card">
        <div class="cardtext">
          <span class="charactersurname">The Brute</span>
          <br>
          <span class="charactername">Jean-Louis</span>
        </div>
      </div>
    </div>
  </div>



  <div class="selectright">
    <div class="playerschoices">
      <div class="player1description charactersurname">
        <h2 class="playersnames">JEAN-LOUIS</h2>
        <p>biography</p>
        <ul>
          <li>Intelligence : 0
          </li>
          <li>Intelligence : 0
          </li>
          <li>Intelligence : 0
          </li>
          <li>Intelligence : 0
          </li>
        </ul>
      </div>
      <div class="largecard1">
      </div>
    </div>

    <div class="playerschoices">
      <div class="player2description charactersurname">
        <h2 class="playersnames">JEAN-LOUIS</h2>
        <p>biography</p>
        <ul>
          <li>Intelligence : 0
          </li>
          <li>Intelligence : 0
          </li>
          <li>Intelligence : 0
          </li>
          <li>Intelligence : 0
          </li>
        </ul>
      </div>
      <div class="largecard2">
      </div>
    </div>
    <div>

    </div>
  </div>
</div>