<img src="assets/eclair.png" class="imageeclair">
<div class="contgamecomponent">
  <!-- container j1 -->

  <div class="contjoueur1">
    <span class="playernumber">
      PLAYER 1 - {{selectCharService.player1.name}}
    </span>
    <img src="{{selectCharService.player1.images.lg}}" class="imageGame">
    <div class="lifebar">
      <div class="staylife" id="lifeplayer1"></div>
    </div>
  </div>

  <!-- fin container j1 -->

  <!-- container j2 -->

  <div class="contjoueur2">
    <span class="playernumber">
      PLAYER 2 - {{selectCharService.player2.name}}
    </span>
    <img src="{{selectCharService.player2.images.lg}}" class="imageGame">
    <div class="lifebar">
      <div class="staylife" id="lifeplayer2"></div>
    </div>
  </div>

  <!-- fin container j2 -->
</div>